name: Action Uses

# description: Attempting to use a composite action that uses other actions.

on:
  workflow_dispatch:

jobs:
  action-uses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: .github/actions
      - uses: ./.github/actions/action-uses

